---
layout: default
css-include: /css/main.css
sorted: 1
---

<section id="kHeader" class="carousel">
    <div class="carousel-item active">
        <div class="carousel-item-content pl-4 pr-4">
            <div class="slide-background" style="background-image: url(assets/img/screenshot.png)"></div>
            <div class="carousel-text-overlay">
                <h1>Konsole</h1>
                <p>A powerful and customizable terminal emulator.</p>
            </div>
        </div>
    </div>
</section>

<main aria-label="Content" id="content" class="container">
    <h1>{{ site.title }}</h1>
    <p>Description</p>
</main>
